.subscribe-container {
    max-width: 800px;
    background-color: rgba(130, 184, 219, 0.5);
    border: 5px solid rgb(98, 143, 228);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    width: 500px;
}

.subscribe-container button {
    margin: 15px;
    border: 1px solid rgb(98, 143, 228);
    padding: 20px;
    flex: 1 1 200px;
    background: black;
    color: white;
    cursor: pointer;
    font-weight: bold;
}